# Tuto Neo4j

Le but du tutoriel est de vous faire découvrir Neo4j, une base de données orientée graphe. Nous allons voir comment installer Neo4j, créer une base de données, insérer des données et effectuer des requêtes simples.

On utilisera pour ce tutoriel un container neo4j, ainsi que le dataset suivant : [Social circles: Facebook](https://snap.stanford.edu/data/ego-Facebook.html).

On utilisera les librairies python `py2neo` pour interagir avec Neo4j. Cependant, si l'envie vous vient de faire un projet en Neo4j, utilisez neomodel qui est l'ORM de Neo4j.

### Qu'est ce que Neo4j ?

Neo4j est une base de données orientée graphe qui permet de stocker et de manipuler des données sous forme de graphes. Un graphe est composé de nœuds (ou sommets) et de relations (ou arêtes) entre ces nœuds. Neo4j utilise le langage de requête Cypher pour interagir avec les données.

Une fois que Neo4j est installé, vous pouvez accéder à l'interface web de Neo4j en ouvrant votre navigateur et en allant à l'adresse `http://localhost:7474`. Utilisez les identifiants suivant pour vous connecter : neo4j / strongpassword .

### Création de la base de données

Une fois connecté à l'interface web de Neo4j, vous vous retrouverez sur cette page d'accueil :
![Page d'accueil](./images/screen_1.png "Accueil")

On voit un prompt dans lequel on peut écrire des requêtes Cypher. Commençons par lister les bases de données existantes avec la requête suivante :
```cypher
SHOW DATABASES;
```
Combien de bases de données voyez-vous ? Par défaut, Neo4j crée une base de données nommée `neo4j`. Nous allons créer une nouvelle base de données pour notre tutoriel. Utilisez la requête suivante pour créer une base de données nommée `social` :
```cypher
CREATE DATABASE social;
```

### Création base de données social pour le tp

In [29]:
from py2neo import Graph

sys = Graph("bolt://neo4j:7687", auth=("neo4j", "strongpassword"), name="system")
sys.run("CREATE DATABASE social IF NOT EXISTS WAIT;")

 address | state    | message             | success
---------|----------|---------------------|---------
         | CaughtUp | No operation needed | true

### Insertion des données

On va télécharger les données via un curl, et les charger dans Neo4j avec python.

In [30]:
!wget https://snap.stanford.edu/data/facebook.tar.gz && tar -xvzf facebook.tar.gz && rm facebook.tar.gz

3875.68s - pydevd: Sending message related to process being replaced timed-out after 5 seconds
--2025-11-18 11:53:19--  https://snap.stanford.edu/data/facebook.tar.gz
Resolving snap.stanford.edu (snap.stanford.edu)... 171.64.75.80
Connecting to snap.stanford.edu (snap.stanford.edu)|171.64.75.80|:443... 171.64.75.80
Connecting to snap.stanford.edu (snap.stanford.edu)|171.64.75.80|:443... connected.
connected.
HTTP request sent, awaiting response... HTTP request sent, awaiting response... 200 OK
Length: 732104 (715K) [application/x-gzip]
Saving to: ‘facebook.tar.gz’

facebook.tar.gz       0%[                    ]       0  --.-KB/s               200 OK
Length: 732104 (715K) [application/x-gzip]
Saving to: ‘facebook.tar.gz’

facebook.tar.gz     100%[===================>] 714.95K   143KB/s    in 5.0s

2025-11-18 11:53:25 (143 KB/s) - ‘facebook.tar.gz’ saved [732104/732104]

facebook/
facebook/3980.egofeat
facebook/0.featnames
facebook/698.egofeat
facebook/3437.feat
facebook.tar.gz     100%[===================>] 714.95K   143KB/s    in 5.0s

2025-11-18 11:53:25 (143 KB/s) - ‘facebook.tar.gz’ saved [732104/732104]

facebook/
facebook/3980.egofeat
facebook/0.featnames
facebook/698.egofeat
facebook/3437.feat
facebook/3980.featnames
facebook/0.edges
facebook/3437.circles
facebook/686.circles
facebook/348.egofeat
facebook/107.feat
facebook/348.feat
facebook/1912.circles
facebook/3437.egofeat
facebook/698.feat
facebook/348.edges
facebook/1912.feat
facebook/414.circles
facebook/1684.egofeat
facebook/1684.featnames
facebook/1684.feat
facebook/107.egofeat
facebook/0.circles
facebook/414.edges
facebook/698.featnames
facebook/698.edges
facebook/1912.featnames
facebook/107.edges
facebook/107.circles
facebook/0.egofeat
facebook/414.featnames
facebook/3980.feat
facebook/3437.featnames
facebook/1912.egofeat
facebook/414.egofeat
facebook/698.circles
facebook/348.featnames
facebook/348.circles
facebook/0.feat
facebook/1684.circles
facebook/3437.edges
facebook/3980.edges
facebook/686.featnames
facebook/1912.edges
facebook/3980.circles
facebook/686.feat
facebook/1684.edges
facebook/414.feat
facebook/686.egofeat
facebook/107.featnames
facebook/686.edges
facebook/3980.featnames
facebook/0.edges
facebook/3437.circles
facebook/686.circles
facebook/348.egofeat
facebook/107.feat
facebook/348.feat
facebook/1912.circles
facebook/3437.egofeat
facebook/698.feat
facebook/348.edges
facebook/1912.feat
facebook/414.circles
facebook/1684.egofeat
facebook/1684.featnames
facebook/1684.feat
facebook/107.egofeat
facebook/0.circles
facebook/414.edges
facebook/698.featnames
facebook/698.edges
facebook/1912.featnames
facebook/107.edges
facebook/107.circles
facebook/0.egofeat
facebook/414.featnames
facebook/3980.feat
facebook/3437.featnames
facebook/1912.egofeat
facebook/414.egofeat
facebook/698.circles
facebook/348.featnames
facebook/348.circles
facebook/0.feat
facebook/1684.circles
facebook/3437.edges
facebook/3980.edges
facebook/686.featnames
facebook/1912.edges
facebook/3980.circles
facebook/686.feat
facebook/1684.edges
facebook/414.feat
facebook/686.egofeat
facebook/107.featnames
facebook/686.edges

On voit que dans le dossier facebook, on a plusieurs fichier avec des extensions différentes :
- `.egofeat` : Caractéristiques des utilisateurs (nœuds)
- `.edges` : Relations entre les utilisateurs (arêtes)
- `.feat` : Caractéristiques des relations (arêtes)
- `.featnames` : Noms des caractéristiques des relations
- `.circles` : Cercles d'amis (groupes d'utilisateurs)

In [31]:
import pandas as pd

# Chargement des données principales
edges = pd.read_csv('facebook/107.edges', sep=' ', header=None, names=['source', 'target'])
features = pd.read_csv('facebook/107.feat', sep=' ', header=None)
# DataFrame original pour compter facilement
featnames = pd.read_csv('facebook/107.featnames', sep=' ', header=None)

feature_names = []
with open('facebook/107.featnames', 'r') as f:
    for line in f:
        parts = line.strip().split(' ', 1)
        if len(parts) == 2:
            _, name = parts
            feature_names.append(name.strip())

Combien d'arrêtes et de nœuds y a-t-il dans le graphe ? Combien de caractéristiques par nœud ?

In [32]:
edges.shape, features.shape, featnames.shape

((53498, 2), (1045, 577), (576, 4))

In [33]:
from py2neo import Graph, Node

graph = Graph("bolt://neo4j:7687", auth=("neo4j", "strongpassword"), name="social")
graph.run("RETURN 'Connected to Neo4j!' AS message").to_data_frame()

               message
0  Connected to Neo4j!

Ajout des noeuds dans la base de données :

In [34]:
from tqdm import tqdm

for i, row in tqdm(features.iterrows(), total=features.shape[0]):
    node_id = int(row[0])
    node_features = {}
    for j in range(1, len(row)):
        key = feature_names[j-1] if j-1 < len(feature_names) else f'f{j-1}'
        node_features[key] = int(row[j])
    person = Node("Person", id=node_id, name=str(node_id), **node_features)
    graph.merge(person, "Person", "id")

100%|██████████| 1045/1045 [00:23<00:00, 43.88it/s]
100%|██████████| 1045/1045 [00:23<00:00, 43.88it/s]

In [35]:
for i, row in tqdm(edges.iterrows(), total=edges.shape[0]):
    src, dst = int(row["source"]), int(row["target"])
    query = """
    MATCH (a:Person {id: $src}), (b:Person {id: $dst})
    MERGE (a)-[:FRIEND_WITH]->(b)
    """
    graph.run(query, src=src, dst=dst)

100%|██████████| 53498/53498 [01:29<00:00, 598.23it/s]
100%|██████████| 53498/53498 [01:29<00:00, 598.23it/s]

On va maintenant ajouter les cercles d'amis (107.circles), les noms des caractéristiques (107.egofeat), et les caractéristiques des relations (107.featname).

In [36]:
# Ajout des featnames :
for i, row in tqdm(featnames.iterrows(), total=featnames.shape[0]):
    feat_id = int(row[0])
    feat_name = row[1]
    feature = Node("Feature", id=feat_id, name=feat_name)
    graph.merge(feature, "Feature", "id")

100%|██████████| 576/576 [00:01<00:00, 367.86it/s]
100%|██████████| 576/576 [00:01<00:00, 367.86it/s]

Ici on va charger les cercles dans la base de données. Comme les lignes ne sont pas de même longueur, on ne peut pas utiliser pandas.

In [37]:
# ajout des cercles :
circles = []

with open("facebook/107.circles", "r") as f:
    for line in f:
        parts = line.strip().split()  # découpe sur les espaces ou tabulations
        circle_name = parts[0]        # premier élément = nom du cercle
        members = [int(x) for x in parts[1:]]  # reste = membres
        circles.append({"circle": circle_name, "members": members})


for c in circles:
    circle_name = c["circle"]
    for member_id in c["members"]:
        graph.run("""
        MATCH (p:Person {id:$id})
        MERGE (c:Circle {name:$circle})
        MERGE (p)-[:IN_CIRCLE]->(c)
        """, id=member_id, circle=circle_name)

Chargement des caractéristiques des relations (107.egofeat) :

In [38]:
with open("facebook/107.egofeat", "r") as f:
    for line in f:
        parts = line.strip().split()
        person_id = int(parts[0])
        features_dict = {}
        for j in range(1, len(parts)):
            key = feature_names[j-1] if j-1 < len(feature_names) else f'f{j-1}'
            features_dict[key] = int(parts[j])
        query = """
        MATCH (p:Person {id:$id})
        SET p += $features
        """
        graph.run(query, id=person_id, features=features_dict)

Maintenant que les données sont chargées, on peut effectuer des requêtes Cypher pour interroger la base de données. Par exemple, pour trouver tous les amis d'une personne avec l'ID 0, on peut utiliser la requête suivante :

In [39]:
graph.run("""
MATCH (p:Person {id:0})-[:FRIEND_WITH]->(friend)
RETURN friend.id AS friend_id
""").to_data_frame()

   friend_id
0         58
1        171

Maintenant on va lister par ordre décroissant les personnes ayant le plus d'amis :

In [40]:
graph.run("""
MATCH (p:Person)-[:FRIEND_WITH]->(friend)
RETURN p.id AS person_id, COUNT(friend) AS num_friends
ORDER BY num_friends DESC
LIMIT 10
""").to_data_frame()

   person_id  num_friends
0       1888          253
1       1800          244
2       1663          234
3       1352          233
4       1730          225
5       1431          219
6       1199          216
7       1584          210
8       1768          208
9       1589          204

### Visualisation des données dans Neo4j

L'interêt de Neo4j est de pouvoir visualiser les données sous forme de graphe. Pour cela, on peut utiliser l'interface web de Neo4j. Voici comment visualiser les amis de la personne avec l'ID 0 :
```cypher
MATCH (p:Person {id:0})-[:FRIEND_WITH]->(friend)
RETURN p, friend
```
Et voilà le résultat :
![Visualisation des amis](./images/screen_2.png "Amis de la personne 0")

En double cliquant sur le noeud 0, on peut voir les rélations du noeud et ses caractéristiques :
![Détails du noeud](./images/screen_3.png "Détails du noeud 0")

### Fonctions avancées de Cypher

Nous allons utiliser des fonctions plus complèxes de Cypher afin de voir ce que Neo4j apporte de plus par rapport à une base de données relationnelle classique. Pour cela on va utiliser GDS (Graph Data Science) qui est un plugin de Neo4j permettant d'effectuer des analyses de graphes avancées.

Questions :
- Quel est le degré moyen des nœuds dans le graphe ?
- Quelle est la distance moyenne entre deux nœuds dans le graphe ?
- Quels sont les noeuds les plus influents dans le graphe (PageRank) ?
- Quels sont les clusters dans le graphe (algorithme de Louvain) ?

In [41]:
# Degré moyen des nœuds
graph.run("""
CALL gds.graph.project('facebookGraph', 'Person', 'FRIEND_WITH')
YIELD graphName, nodeCount, relationshipCount;
""").to_data_frame()

ClientError: [Procedure.ProcedureCallFailed] Failed to invoke procedure `gds.graph.project`: Caused by: java.lang.IllegalArgumentException: A graph with name 'facebookGraph' already exists.

In [ ]:
graph.run("""
CALL gds.degree.stream('facebookGraph')
YIELD nodeId, score
RETURN avg(score) AS average_degree;
""").to_data_frame()

   average_degree
0       51.194258

In [ ]:
# Distance moyenne entre deux nœuds
graph.run("""
CALL gds.alpha.allShortestPaths.stream('facebookGraph')
YIELD sourceNodeId, targetNodeId, distance
RETURN avg(distance) AS average_distance;
""").to_data_frame()

   average_distance
0          2.951676

In [ ]:
#Quels sont les noeuds les plus influents dans le graphe ?

graph.run("""
CALL gds.pageRank.stream('facebookGraph')
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).id AS person_id, score
ORDER BY score DESC
LIMIT 10;
""").to_data_frame()

   person_id     score
0        483  3.634887
1        917  2.956809
2       1888  2.753837
3       1800  2.706385
4       1783  2.621760
5       1352  2.608647
6       1431  2.585110
7       1663  2.584852
8       1086  2.580798
9       1730  2.571580

In [ ]:
#Quels sont les clusters dans le graphe (algorithme de Louvain) ?

graph.run("""
CALL gds.louvain.stream('facebookGraph')
YIELD nodeId, communityId
RETURN gds.util.asNode(nodeId).id AS person_id, communityId
ORDER BY communityId
LIMIT 10;
""").to_data_frame()

   person_id  communityId
0        911           15
1        918           22
2        992          120
3        958          120
4        901          120
5        987          120
6        903          120
7        938          120
8        963          120
9       1097          120